@model ClinicPricingResultModel
@{
    ViewData["Title"] = "Fiyatlandırma";
    int counter = 1;
}
@section VendorCSS {
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
}
@section VendorJS {
<script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
}
@section PageJS {
<script src="~/app-assets/js/scripts/tables/datatables/datatable-styling.js"></script>
}

<!-- BEGIN: Table -->
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Fiyatlandırmalar</h2>
            <hr>
            <table
                class="table table-striped table-hover table-bordered table-responsive-md table-sm bootstrap-3 dataTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">İsim</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Para Birimi</th>
                        <th scope="col">Son Değişiklik</th>
                        <th scope="col">Değişiklik Yapan</th>
                        <th scope="col">Aktif Mi</th>
                        <th scope="col">Not</th>
                        <th scope="col">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var price in Model.Pricings)
                    {
                        <tr>
                            <td scope="row"><b>@counter</b></td>
                            <td scope="row">@price.PriceOf</td>
                            <td scope="row">@price.PriceAmount</td>
                            <td scope="row">@price.Currency</td>
                            <td>@price.ModifiedDate.ToShortDateString()</td>
                            <td>@price.ModifiedByName</td>
                            <td class="text-center">
                                @if (price.IsActive == false)
                                {
                                    <span class="btn btn-sm text-danger"><i class="fa-solid fa-times fa-2xl"></i></span>
                                }
                                else
                                {
                                    <span class="btn btn-sm text-info"><i class="fa-solid fa-check fa-2xl"></i></span>
                                }
                            </td>
                            <td style="white-space: nowrap; max-width: 120px; overflow: hidden; text-overflow: ellipsis;">
                                @if (!String.IsNullOrEmpty(price.Note))
                                {
                                    <span data-toggle="tooltip" data-placement="left" data-original-title="@price.Note">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                    @price.Note
                                }
                            </td>
                            <td>
                                <button type="button" class="btn btn-purple dropdown-toggle btn-sm buttonAnimation"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                data-animation="jello">
                                    <i class="fa-solid fa-hammer"></i> İşlemler
                                </button>
                                <div class="dropdown-menu arrow text-center">
                                    <a class="btn btn-danger text-white" data-toggle="modal"
                                    data-target="#deletePriceModal_@price.Id">Sil</a>
                                    <a class="btn btn-adn text-white" asp-controller="Clinic" asp-action="UpdatePricing" asp-route-id="@price.Id" target="_blank">Güncelle</a>
                                </div>
                            </td>
                        </tr>
                        counter++;

                        <!-- BEGIN: Delete Price Modal -->
                        <div class="modal animated fadeInDown text-left" id="deletePriceModal_@price.Id" tabindex="-1"
                        role="dialog" aria-labelledby="myDidPaidModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <h4 class="modal-title text-white" id="myDidPaidModal"><b>Fiyat Silme Onay</b>
                                        </h4>
                                        <button type="button" class="close text-white" data-dismiss="modal"
                                        aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5><b>@price.PriceAmount @price.Currency</b> fiyatlı <b>@price.PriceOf</b> kaydını
                                            silmek istediğinize emin misiniz?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger"
                                        data-dismiss="modal">İptal</button>
                                        <a asp-controller="Clinic" asp-action="DeletePricing" asp-route-id="@price.Id"
                                        class="btn btn-primary">Onay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END: Delete Price Modal -->
                    }
                </tbody>
            </table>
            <div class="col-12 text-center">
                <a href="#" class="btn btn-primary buttonAnimation" data-toggle="modal" data-target="#addPriceModal"
                    data-animation="tada">Yeni Bir Fiyat Ekle</a>
            </div>

            <!-- BEGIN: Add Price Modal -->
            <div class="modal animated fadeInDown text-left" id="addPriceModal" tabindex="-1" role="dialog"
                aria-labelledby="myDidPaidModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h4 class="modal-title text-white" id="myDidPaidModal"><b>Fiyat Ekleme Formu</b></h4>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form asp-controller="Clinic" asp-action="AddPricing" method="post">

                                <div class="form-body">

                                    <div class="form-group">
                                        <label asp-for="AddPricing.PriceOf">İsim</label>
                                        <input asp-for="AddPricing.PriceOf" type="text" class="form-control" value=""
                                            placeholder="İsim">
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="AddPricing.PriceAmount">Fiyat</label>
                                        <input asp-for="AddPricing.PriceAmount" type="text" class="form-control"
                                            value="" placeholder="Fiyat">
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="AddPricing.Currency">Para Birimi</label>
                                        <select class="custom-select" asp-for="AddPricing.Currency">
                                            <option disabled>Bir Para Birimi Seçiniz</option>
                                            <option value="Euro" selected>Euro</option>
                                            <option value="Pound">İngiliz Sterlini</option>
                                            <option value="USD">Amerika Doları</option>
                                            <option value="AUD">Avustralya Doları</option>
                                            <option value="% (Yüzde)">% (Yüzde)</option> 
                                        </select>
                                    </div>

                                </div>

                                <div class="form-actions center">
                                    <button type="button" class="btn btn-warning mr-1" data-dismiss="modal">
                                        <i class="ft-x"></i> İptal
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Kaydet
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Add Price Modal -->

        </div>
    </div>
</div>
<!-- END: Table -->